<div class="comm-header">
    <div class="comm-fixed-bar">
        <div class="container clearfix">
            <div class="left">
                <a href="#">网站首页</a>
                <span class="split">|</span>
                <a href="#">收藏本站</a>
                <span class="split">|</span>
                咨询电话：<i><a href="#"><span class="comm-img phone"></span> 400 - 123 - 4567</a></i>
            </div>
            <div class="right">
                <div id="J-HeaderMenu" class="menu">
                    <!-- 王小波，您好 <span class="bubble">5</span> -->
                    <!-- 如果用户通过授权，就给 J-HeaderMenu 添加 menu-active 类 -->
                    王小波 <span class="comm-text-red">(审核中)</span>
                    <span class="anchor"></span>
                    <div class="submenu">
                        <a href="#" class="item"><i class="comm-img lock"></i> 修改密码</a>
                        <a href="#" class="item"><i class="comm-img mobile"></i>更换手机</a>
                        <a href="#" class="item"><i class="comm-img set"></i>修改资料</a>
                        <a href="#" class="item"><i class="comm-img msg"></i>通知消息 <span class="bubble">5</span></a>
                    </div>
                </div>
                <span class="split">|</span>
                <a href="auth/login.html" class="danger">退出</a>
            </div>
        </div>
    </div>
    <div class="comm-header-ctn">
        <div class="container clearfix">
            <a href="/index.html" class="logo left">LOGO</a>
            <div class="searcher">
                <div class="text">今日共有<span class="comm-text-red">10</span>个品牌，<span class="comm-text-red">3900</span>款型号车上线</div>
                <form action="index.html" class="search-form">
                    <div class="input"><span class="placeholder"><i class="comm-img search"></i>搜索您想找的汽车型号</span><input id="J-SearchIpt" type="text" placeholder=""></div>
                    <button class="do-search">搜索</button>
                </form>
                <div class="brands">
                    <a href="#">路虎</a><a href="#">兰博基尼</a><a href="#">雷克萨斯</a><a href="#">林肯</a>
                </div>
            </div>
        </div>
    </div>
    <div class="comm-header-nav">
        <div class="container clearfix">
            <a href="../index.html" class="item @@index">首页</a>
            <span class="split">|</span>
            <a href="../buy/alphabet.html" class="item @@buy">买车</a>
            <span class="split">|</span>
            <a href="../sell/" class="item @@sell">卖车</a>
            <span class="split">|</span>
            <a href="../order/buy.html" class="item @@order">订单</a>
            <span class="split">|</span>
            <a href="javascript:;" class="item">下载APP</a>
        </div>
    </div>
</div>
